#Web Scraping com Python â€“ Como extrair dados do Twitter com Snscrape

In [ ]:
# Instalar a biblioteca do Snscrape
pip3 install git+https://github.com/JustAnotherArchivist/snscrape.git

In [ ]:
#O cÃ³digo abaixo irÃ¡ extrair atÃ© 25000 tweets do usuÃ¡rio "elonmusk" e fornecer um arquivo CSV com Pandas

In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Criando uma lista para anexar todos os atributos do tweet (dados)
attributes_container = []

# Usando TwitterSearchScraper para raspar dados e anexar tweets Ã  lista
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:elonmusk').get_items()):
    if i>25000:
        break
    attributes_container.append([tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content])
    
# Criando um dataframe da lista de tweets acima
tweets = pd.DataFrame(attributes_container, columns=["Data do tweet", "Numero de Likes", "Fonte do Tweet", "Tweets"])

C:\Users\fcard\AppData\Local\Temp/ipykernel_8724/723580576.py:11: FutureWarning: content is deprecated, use rawContent instead
  attributes_container.append([tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content])

In [3]:
tweets.head()

,Data do tweet,Numero de Likes,Fonte do Tweet,Tweets
0,2022-10-28 18:18:55+00:00,36973,Twitter for iPhone,Twitter will be forming a content moderation c...
1,2022-10-28 18:10:58+00:00,2814,Twitter for iPhone,@slashdot !
2,2022-10-28 18:09:54+00:00,1858,Twitter for iPhone,@skorusARK Cool!
3,2022-10-28 13:08:13+00:00,47221,Twitter for iPhone,@WeAreCanProud First Iâ€™ve heard
4,2022-10-28 12:09:02+00:00,634113,Twitter for iPhone,ðŸŽ¶ let the good times roll ðŸŽ¶

In [4]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17453 entries, 0 to 17452
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data do tweet    17453 non-null  datetime64[ns, UTC]
 1   Numero de Likes  17453 non-null  int64
 2   Fonte do Tweet   17453 non-null  object
 3   Tweets           17453 non-null  object
dtypes: datetime64[ns, UTC](1), int64(1), object(2)
memory usage: 545.5+ KB

In [5]:
tweets.to_csv("tweetselonmusk.csv")